#django
Django==1.7.0

# aux dj libraries
django-extensions==1.4.0
django-tastypie==0.12.0 # redundant migration upon django 1.7, remove 0002

# aux py libraries
requests==2.4.1
python-dateutil==2.2
python-mimeparse==0.1.4

# aux db libraries
MySQL-python==1.2.5
